<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Analects.Versioning" version="1.0.0.4" targetFramework="net40" />
  <package id="Autofac" version="4.8.1" targetFramework="net46" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net46" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net46" />
  <package id="Conventional" version="2.0.0.36" targetFramework="net46" />
  <package id="Fody" version="3.3.5" targetFramework="net46" developmentDependency="true" />
  <package id="HelixToolkit" version="2.6.0" targetFramework="net46" />
  <package id="HelixToolkit.Wpf" version="2.6.0" targetFramework="net46" />
  <package id="ModuleInit.Fody" version="1.9.0" targetFramework="net46" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net46" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net46" />
  <package id="PropertyChanging.Fody" version="1.29.3" targetFramework="net46" />
</packages>